<launch>
  <arg name="foreign_ip" default="192.168.212.6"/>  
  <arg name="foreign_port" default="21311" />
  <arg name="node_name" default="node_robot1" /> <!-- must be different with robot2 -->

  <param name="foreign_ip"  value="$(arg foreign_ip)"/>
  <param name="foreign_port"  value="21311"/>
  <param name="connectCheck_Hz"  value="200"/>
  <param name="msgsFrequency_Hz"  value="10" />
  <param name="publish_name" value="rdvremote" />

</launch>
